# Rust / Cargo
/desktop/target/
**/target/
Cargo.lock # (opcional guardar se for biblioteca, mas para app pode manter no git)

# Android / Gradle
/android/.gradle/
/android/build/
/android/app/build/
/android/local.properties
.idea/
*.iml
*.ap_
*.dex
*.class

# Binários e pacotes finais (nunca sobem pro código fonte!)
*.apk
*.aab
*.exe
*.deb
*.AppImage
